body {
    padding: 0;
    margin: 0;
    font-size: 0;
    font-family: roboto, arial, sans-serif;
    background-image: url('images/starsBg.png');

}

/*----- Team Select Content -----*/
#chooseTeamDiv {
    width: 410px;
    height: 228px;
    background: #1b1b1b;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 18px 24px;
    border-radius: 5px;
}

.chooseTeamSections {
    margin: 10px;
    text-align:center;
}

.teamBtn {
    font-size: 18px;
    color: #f2e8d5;
    line-height:46px;
    height: 46px;
    width: 119px;
    margin: 0 4px;
    display: inline-block;
    border-radius: 5px;

}

#Red {
    background: #861e25;
}

#Green {
    background: #4b531a;
}

#Gold {
    background: #dd9529;
}

#shipSelectSection {
    margin-top: 26px;
}

.shipChoice {
    font-size: 18px;
    color: #f2e8d5;
    line-height: 48px;
    text-align: center;
    width: 48px;
    height: 48px;
    margin: 0 3px;
    display: inline-block;
    /*background: #3B5998;*/
    position: relative;
    border-radius: 5px;
}

.selectedShip {
    box-shadow: 0 0 5px 1px #fff;
}

#menuInstructions {
    font-size: 20px;
    color: #f2e8d5;
    text-align: center;

}

#pilotNameInput {
    display: inline-block;
    margin: 3px;
    width: 180px;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    /*border-radius: none;*/
    border-radius: 5px;

    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#pilotNameInput:focus, #pilotNameInput.focus {
    outline: none;
    border-bottom: solid 2px #969696;
}

#joinBtn {
    background: #e0e0e0;
    display: inline-block;
    /*margin: 0;*/
    height: 23px;
    width: 165px;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    /*border-radius: none;*/
    padding: 10px;
    margin: 3px;
    border-radius: 5px;

}



/*----- Game Content -----*/
#gameArea {
    width: 100vw;
    height: 100vh;
    /*background-color: #141421;*/
    position: relative;
    z-index: -1;
}


.ship {
    position: absolute;
    width: 48px;
    height: 48px;
    /*border-style: solid;*/
    /*border-width: 0 12.5px 25px 12.5px;*/
    /*border-color: transparent transparent #007bff transparent;*/
}

/*Green Ships*/
.shipGreen1 {
    background: url(images/ships.png) 0 0;
}

.shipGreen2 {
    background: url(images/ships.png) -48px 0;
}

.shipGreen3 {
    background: url(images/ships.png) -96px 0;
}

.shipGreen4 {
    background: url(images/ships.png) -144px 0;
}

.shipGreen5 {
    background: url(images/ships.png) -192px 0;
}

.shipGreen6 {
    background: url(images/ships.png) -240px 0;
}

.shipGreen7 {
    background: url(images/ships.png) -288px 0;
}


/*Red Ships*/
.shipRed1 {
    background: url(images/ships.png) 0 -48px;
}

.shipRed2 {
    background: url(images/ships.png) -48px -48px;
}

.shipRed3 {
    background: url(images/ships.png) -96px -48px;
}

.shipRed4 {
    background: url(images/ships.png) -144px -48px;
}

.shipRed5 {
    background: url(images/ships.png) -192px -48px;
}

.shipRed6 {
    background: url(images/ships.png) -240px -48px;
}

.shipRed7 {
    background: url(images/ships.png) -288px -48px;
}

/*Gold Ships*/
.shipGold1 {
    background: url(images/ships.png) 0 -96px;
}

.shipGold2 {
    background: url(images/ships.png) -48px -96px;
}

.shipGold3 {
    background: url(images/ships.png) -96px -96px;
}

.shipGold4 {
    background: url(images/ships.png) -144px -96px;
}

.shipGold5 {
    background: url(images/ships.png) -192px -96px;
}

.shipGold6 {
    background: url(images/ships.png) -240px -96px;
}

.shipGold7 {
    background: url(images/ships.png) -288px -96px;
}

.bullet{
    position: absolute;
    display:inline-block;
    border:2px solid red;
}